 body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #555555;    
        }
 .common {
    /* background-color: #cccccc; */
    /* border: 1px solid white; */
    position: absolute;
 }
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: -1;
    border-bottom: 1px solid #555555;
}
.leftmenu {
    top: 114px;
    left: 0;
    width: 190px;
    bottom: 39px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #555555;
}
.video-container {
    width: 190px;
    height: 190px; 
}
.video-container iframe {
    width: 190px;
    height: 190px;   /* adjust height to whatever looks good */
}
.mainbody {
    top: 114px;
    left: 208px;
    right: 208px;
    bottom: 39px;
    padding-right: 10px;
    padding-left: 10px;
}
.rightmenu {
    top: 114px;
    right: 0px;
    width: 190px;
    bottom: 39px;
    word-wrap: break-word;
    border-left: 1px solid #555555;
    padding-top: 5x;
    padding-left: 10px;
}
.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.subheader {
    float: right;
}
  
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: navy;
    text-decoration: none;}  
a:hover {
    color: navy;
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px;; */
}
a:visited { 
    color: navy;
    }
.resumelistheading {
    font-weight: bold;
    font-style: normal;
} 
.underline { text-decoration: underline;}  
.bold { font-weight: bold;}
.justify { text-align: justify;}

.homebg {
    background-image: url(../Images/Mountains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    /* border 1px solid gray; */
}
.box2 {
    padding: 5px;
}
.box3 {
    margin: 50px;
}
/* Wouldn't usually use the word "box". We want to use a more descriptive word */
.tableauPlaceholder {
    width: 100% !important;
    height: 100% !important;
    max-width: 80%;
    max-height: 100%;
    padding-right: 110px;
    padding-left: 125px;
    padding-top: 100px;
    padding-bottom: 100px;
    scale: 0.8;
}
.tableau-section {
    position: relative;
    margin-top: 500px;    /* pushes it down below left/right/mainbody */
    padding: 20px;
}
